html,
body {
    margin: 0;
    height: 100%;
}

body {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #043539;
    display: flex;
    flex-direction: column;
}

header {
    float: right;
    border-bottom-width: 2px;
    border-bottom-color: white;
    border-bottom-style: solid;
}

.logo {
    width: 15%;
    float: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #333; */
    background-color: #043539;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}

p {
    margin: 0;
}

/* Definições da página de abertura index.html */
.secao {
    float: left;
    width: 20%;
    padding: 10px 0px 0px 15px;
    border-color: white;
}

.destaque {
    font-size: large;
}

.figura_secao {
    width: 80%;
    height: 65%;
    object-fit: fill;
}

/* Definições da página de registro de acidente */
.figura_base {
    float: left;
    width: 20%;
    padding: 10px 0px 0px 15px;
    border-color: white;
}

.area_dados {
    float: left;
    width: 60%;
    padding: 10px 0px 0px 15px;
    border-color: white;
}

.destaque_dados {
    float: left;
    width: 100%;
}

.data_hora_dados {
    float: left;
    width: 40%;
    padding-top: 15px;
}

.local_acid {
    float: left;
    width: 30%;
    padding-top: 15px;
}

.motivo_acid {
    float: left;
    width: 60%;
    padding-top: 15px;
}

.botao_salvar {
    float: left;
    width: 80%;
    padding-top: 15px;
    align-items: center;
}
